<div>
    <span class=status [class.checked-in]=detail.checkedIn></span>
    <div *ngIf=editing>
        <input type="text" [value]=detail.fullname (input)=onNameChange(name.value) #name>
    </div>
    <span *ngIf=false class=status
        [ngClass]="{ 'checked-in' : detail.checkedIn, 'checked-out' : !detail.checkedIn }"></span>
    <span *ngIf=false class=status [style.backgroundColor]="detail.checkedIn ? '#2ecc71': '#c0392b'"></span>
    <span *ngIf=false class=status [ngStyle]="{backgroundColor: detail.checkedIn ? '#2ecc71': '#c0392b'}"></span>
    <span *ngIf="!editing">{{detail.fullname}}</span>
    <p> {{detail | json}} </p>
    <div class=date>
        Check in date:
        {{detail.checkInDate ? (detail.checkInDate | date: 'MMMM d, y' | uppercase) : 'Not Checked In'}}
    </div>
    <div class=children *ngIf="detail.children?.length > 0">
        Children: {{detail.children?.length || 0}}
    </div>
    <button (click)=toggleEdit()> {{editing? 'Done': 'Edit'}} </button>
    <button (click)=onRemove()>Remove</button>
    <button (click)="goToPassenger()">View</button>
</div>