<form (ngSubmit)="handleSubmit(form.value, form.valid)" class="d-flex flex-column justify-items-stretch" #form="ngForm"
    novalidate>
    <div>{{detail | json}}</div>
    <div>
        Passenger name:
        <input #fullname="ngModel" required type="text" name="fullname" id="fullname" [ngModel]="detail?.fullname">
        <div *ngIf="fullname.touched && fullname.errors?.required" class="error">
            Passenger name is required
        </div>
    </div>
    <div>
        Passenger ID:
        <input type="number" required #id="ngModel" name="id" id="id" [ngModel]="detail?.id">
        <div *ngIf="id.touched && id.errors?.required" class="error">
            Passenger ID name is required
        </div>
    </div>
    <div>
        <fieldset>
            <legend>Checked In?</legend>
            <label>
                <input type="radio" name="checkedIn" id="checkedInTrue" [value]=true [ngModel]="detail?.checkedIn"
                    (ngModelChange)="toggleCheckIn($event)">
                Yes
            </label>
            <label>
                <input type="radio" name="checkedIn" id="checkedInFalse" [value]=false [ngModel]="detail?.checkedIn"
                    (ngModelChange)="toggleCheckIn($event)">
                No
            </label>
        </fieldset>
        <label>
            Checked In?
            <input type="checkbox" name="checkedIn" id="checkedIn" [ngModel]="detail?.checkedIn"
                (ngModelChange)="toggleCheckIn($event)">
        </label>
        <div *ngIf=" form.value.checkedIn">
            Check in Date:
            <input readonly type="number" name="checkInDate" id="checkInDate" [ngModel]="detail?.checkInDate">
        </div>
    </div>
    <div>
        Luggages:
        <select name="baggage" [ngModel]="detail?.baggage">
            <option *ngFor="let item of baggage" [value]='item.key' [selected]='item.key === detail?.baggage'>
                {{item.value}}
            </option>
        </select>
        <select name="baggage" [ngModel]="detail?.baggage">
            <option *ngFor="let item of baggage" [ngValue]="item.key">
                {{item.value}}
            </option>
        </select>
    </div>
    <button type="submit" [disabled]="form.invalid">
        Update passenger
    </button>
</form>