<div class="app">
    <nav aria-label="Main navigation">
        <ul class="d-flex flex-row justify-content-around">
            <li>
                <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                    Home
                </a>
            </li>
            <li>
                <a routerLink="/oops" routerLinkActive="active">
                    404
                </a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <!-- <passenger-viewer></passenger-viewer> -->
    <!-- <passenger-dashboard></passenger-dashboard> -->
</div>